# Entornos virtuales
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de bases de datos
*.sqlite3

# Dependencias y archivos instalados de paquetes
*.egg-info/
dist/
build/
*.egg
