{% extends 'base.html' %}

{% block title %}Añadir Compra{% endblock %}

{% block content %}
<h2>Añadir Compra</h2>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.item_name.id_for_label }}">Artículo:</label>
        {{ form.item_name }}
    </div>
    <div class="mb-3">
        <label for="{{ form.quantity.id_for_label }}">Cantidad:</label>
        {{ form.quantity }}
    </div>
    <button type="submit" class="btn btn-primary">Añadir</button>
</form>
{% endblock %}
