{% extends 'base.html' %}

{% block title %}Editar Compra{% endblock %}

{% block content %}
<div class="edit-reservation-container">
    <h3>Editar Compra</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit" class="btn-action"><i class="fas fa-save"></i> Guardar Cambios</button>
            <button type="button" class="btn-action cancel" onclick="location.href='{% url 'all_purchases' %}'">Cancelar</button>
        </div>
    </form>
</div>
{% endblock %}
